<div class="music-card">
    <div class="song-title">{{ song.title }}</div>
    <div class="song-tags">
        <ng-container *ngFor="let tag of song.tags">
            <span class="tag">{{ tag.name }}</span>
        </ng-container>
    </div>
    <div class="song-campaigns">
        <ng-container *ngFor="let campaign of song.campaigns">
            <span class="campaign">{{ campaign.name }}</span>
        </ng-container>
    </div>
    <div class="row">
        <button (click)="toggleRepeat()" class="repeat-button">
        <span class="material-icons">
            {{ repeat ? 'repeat_one' : 'repeat' }}
        </span>
        </button>
        <audio controls
               [src]="fileService.getFileUrl(song.filePath)"
               class="audio-player"
               preload="none"
               #audioPlayer
               (ended)="handleSongEnd()"
               (play)="startPlaying()">
        </audio>
    </div>
    <ng-container *ngIf="availableTags">
        <div class="heading-s">Manage Tags</div>
        <mat-form-field class="tag-selector">
            <mat-select
                    [formControl]="tagsControl"
                    multiple
                    [compareWith]="compareTags"
                    placeholder="Select tags"
                    class="select"
                    (selectionChange)="updateTags()">

                <mat-select-trigger>{{ tagsControl.value | tagNames }}</mat-select-trigger>

                <mat-option disabled>
                    <ngx-mat-select-search
                            [formControl]="tagSearchControl"
                            placeholderLabel="Search tags"
                            noEntriesFoundLabel="No tags found">
                    </ngx-mat-select-search>
                </mat-option>

                <mat-option *ngFor="let tag of filteredTags; trackBy: trackById" [value]="tag">
                    {{ tag.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
</div>
