<header class="wrapper">
    <img
            src="/assets/icons/dancerIconStarsRound.png"
            class="logo"
            alt="cute dancer logo"
    />
    <nav>
        <ul class="menu">
            <li class="menu-item" aria-haspopup="true">
                <a href="/campaign/overview" class="menu-link">Manage</a>
                <ul class="sub-menu" aria-label="Music submenu">
                    <li class="sub-item"><a routerLink="/campaign/overview" class="menu-link">Campaigns</a></li>
                    <li class="sub-item"><a routerLink="/music/bulk-upload" class="menu-link">Upload Music</a></li>
                    <li class="sub-item"><a routerLink="/music/tag" class="menu-link">Music Tagging</a></li>
                </ul>
            </li>
            <li class="menu-item" aria-haspopup="true">
                <a routerLink="/music/library" class="menu-link">Immerse</a>
                <ul class="sub-menu" aria-label="Playlists submenu">
                    <li class="sub-item"><a routerLink="/music/library" class="menu-link">Music</a></li>
                    <li class="sub-item"><a routerLink="/playlist/overview" class="menu-link">Playlists</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="campaign-select">
        <fa-icon [icon]="faBook" title="Select a Campaign to focus on" class="campaign-icon"></fa-icon>
        <select
                [ngModel]="currentCampaign?.id ?? ''"
                (ngModelChange)="onCampaignIdChange($event)"
                [class.has-campaign]="!!currentCampaign"
        >
            <option value="">
                No Campaign
            </option>

            <option *ngFor="let c of campaigns" [value]="c.id">
                {{ c.name }}
            </option>
        </select>
    </div>
</header>
