
.campaign-card {
    width: 15rem;
    height: 5rem;

    border-radius: 6px;
    border: 1px solid var(--border-color-solid);
    background-color: var(--background-color-solid);
    overflow: auto;

    font-weight: bold;
    padding: 0.5rem;
}