:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}

.row {
    grid-template-columns: 1fr 1fr;
}

.row-menu {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0.5rem;
    border-radius: 6px;
    background-color: var(--background-color-solid);
}

.music-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 16px;
    padding: 16px;
    justify-content: start;
}

.music-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    overflow: hidden;
    width: 300px;
    min-height: 150px;

    background: var(--background-color-solid);
    border: 1px solid var(--border-color-solid);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-color);
}

.music-card.active {
    background-color: var(--background-color-hover-solid);
    border-color: var(--text-color-highlight-solid);
    box-shadow: 0 0 10px var(--shadow-color);
}

.song-title {
    margin: 0;
    overflow: hidden;

    color: var(--text-color-solid);
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 0;

    color: var(--text-color-ui);
    font-size: 0.85rem;
}

.tag {
    padding: 2px 6px;

    background: var(--background-color-translucent);
    border: 2px solid var(--border-color-solid);
    border-radius: 12px;
}

.audio-player {
    width: 100%;
    outline: none;
}
