:root {
  --above-green : hsl(110, 40%, 30%);
  --above-green-translucent : hsla(110, 40%, 30%, 0.5);
  --above-green-darker : hsl(110, 40%, 15%);

  --above-blue : hsl(200, 40%, 30%);
  --above-blue-translucent : hsla(200, 40%, 30%, 0.5);
  --above-blue-darker : hsl(200, 40%, 15%);

  --border-color-solid: hsla(0.0, 60%, 35%, 1);
  --border-color-translucent: hsla(0.0, 60%, 35%, 0.5);
  --border-color-hover: hsla(0.0, 55%, 50%, 0.8);

  --shield-fill-color: hsla(0.0, 55%, 50%, 1);
  --ability-score-color: hsla(0.0, 0.0%, 95.0%, 1);
  --background-ability-translucent: hsla(0.0, 0.0%, 0.0%, 0.5);
  --background-ability-solid: hsla(0.0, 0.0%, 0.0%, 1);

  --proficiency-color: hsla(0.0, 65%, 50%, 1);
  --input-text-color: hsla(0.0, 0.0%, 90%, 1);
  --text-color-ui: hsla(240.0, 0.0%, 80%, 1);
  --text-color-ui-darker: hsla(240.0, 0.0%, 50%, 1);
  --text-color-solid: hsl(30, 20%, 90%);
  --text-color-highlight-solid: hsla(0.0, 75%, 50%, 1);
  --text-color-translucent: hsla(30, 20%, 90%, 0.8);

  --background-color-translucent: hsla(0.0, 0.0%, 0.0%, 0.7);
  --background-color-solid: hsl(0.0, 0.0%, 20%);
  --background-color-hover-translucent: hsla(0.0, 0.0%, 45%, 0.7);
  --background-color-hover-solid: hsl(0.0, 0.0%, 30%);
  --background-color-darker-solid: hsl(0.0, 0.0%, 13%);

  --background-secondary-color-translucent: hsla(0.0, 45%, 15%, 0.7);
  --background-secondary-color-solid: hsl(0, 45%, 15%);
  --background-secondary-color-hover-translucent: hsla(0.0, 45%, 30%, 0.7);
  --background-secondary-color-hover-solid: hsl(0.0, 45%, 30%);

  --shadow-color: hsla(0.0, 0.0%, 0.0%, 0.3);
  --shadow-color-bright: hsla(0.0, 0.0%, 80%, 0.3);
  --backdrop-shade: hsla(0.0, 0.0%, 0.0%, 0.6);

  --button-color-solid: hsl(0, 80%, 40%);
  --button-color-translucent: hsla(0, 80%, 40%, 0.5);
  --button-color-hover-solid: hsl(0, 80%, 20%);
  --button-color-hover-translucent: hsla(0, 50%, 20%, 0.5);

  --button-secondary-color-solid: hsl(100, 0%, 40%);
  --button-secondary-color-translucent: hsla(100, 0%, 40%, 0.5);
  --button-secondary-color-hover-solid: hsl(100, 0%, 30%);
  --button-secondary-color-hover-translucent: hsla(100, 0%, 30%, 0.5);
}
