<div *ngIf="!currentCampaign">Select a Campaign to browse its playlists.</div>
<ng-container *ngIf="!!currentCampaign">
    <div class="playlist-heading">
        <div class="heading-m">Playlists of {{currentCampaign.name}}</div>
        <div>
            <button
                    type="button"
                    class="btn"
                    (click)="onCreatePlaylist()"
            >
                Create New Playlist
            </button>
        </div>
    </div>
    <div class="playlist-grid">
        <div *ngFor="let playlist of playlists">
            <app-playlist-card [playlist]="playlist" (deleted)="onPlaylistDeleted(playlist)"></app-playlist-card>
        </div>
    </div>
</ng-container>

