:host{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.playlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.playlist-count {
  color: var(--text-color-solid);
  font-size: 0.95rem;
  margin-top: 0.5rem;
}

/* Modal actions */
.modal-actions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.confirm-btn {
  background-color: var(--background-color-translucent);
  color: var(--text-color-solid);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.confirm-btn:hover {
  background-color: var(--background-color-hover-translucent);
}

.cancel-btn {
  background-color: var(--background-color-translucent);
  color: var(--text-color-highlight-solid);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: var(--background-color-hover-translucent);
}
