:host {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-content {
    height: 100%;
    max-width: 100vw;
    display: flow-root;
}

.page {
    background-image: url('/assets/backgrounds/starryBackground.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    overflow: auto;
}
