<div class="heading-m">Music Library</div>
<div class="music-grid">
    <div *ngFor="let song of musicList; let i = index" class="music-card">
        <h3 class="song-title">{{ song.title }}</h3>
        <p class="song-tags">
            <ng-container *ngFor="let tag of song.tags">
                <span class="tag">{{ tag }}</span>
            </ng-container>
        </p>
        <div class="row">

            <button (click)="toggleRepeat(i)" class="repeat-button">
            <span class="material-icons">
                {{ repeatIndex === i ? 'repeat_one' : 'repeat' }}
            </span>
            </button>
            <audio controls
                   [src]="fileService.getFileUrl(song.filePath)"
                   class="audio-player"
                   #audioPlayer
                   (ended)="handleSongEnd(i)">
            </audio>
        </div>
    </div>
</div>
