:host{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}

.campaign-heading{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-bottom: 1rem;
}

.campaign-list {
    flex: 1;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
    gap: 16px;
    justify-content: start;
    align-content: start;
}

.campaign-list-entry:hover {
    background-color: var(--background-secondary-color-hover-solid);
    border: 1px solid var(--border-color-hover);
    box-shadow: 2px 5px 10px var(--shadow-color);
}