:host {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.song-entry {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid var(--border-color-solid);
    border-radius: 4px;
    background-color: var(--background-color-translucent);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.campaign-select {
    max-width: 30rem;
}

mat-form-field {
    width: 100%;
}

input[type="file"] {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid var(--border-color-solid);
    border-radius: 4px;
    background-color: var(--background-color-solid);
    cursor: pointer;
    margin-bottom: 10px;
    max-width: 30rem;
}

input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid var(--border-color-solid);
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="file"]:hover,
input[type="text"]:hover {
    border-color: var(--border-color-solid);
}


/* The following css is to force material to look how I want */

:host ::ng-deep .mat-mdc-select-trigger {
    height: auto;
}

:host ::ng-deep .mat-mdc-select-min-line {
    white-space: normal;
}