@import "./styles/variables.scss";

* {
  box-sizing: border-box;
}

.anchor {
  display: grid;
  position: relative;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: sans-serif;
}

html,
body,
app-root {
  color: var(--text-color-solid);
  background-color: var(--background-color-solid);
  height: 100%;
}

app-root {
  display: grid;
}

.row {
  display: grid;
  grid-auto-flow: column;
}

.column {
  display: grid;
  grid-auto-flow: row;
}

.container {
  flex: 1;
  min-width: 0;
  min-height: 0;
  overflow: auto;
  background-color: var(--background-color-translucent);
  border: 1px solid var(--border-color-solid);
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0 2px 5px var(--shadow-color);
}

.container.tight {
  padding: 0.4rem;
}

.heading-s {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.heading-m {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.heading-l {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

input {
  color: var(--input-text-color);
}

.svg-boundary {
  fill: var(--border-color-solid);
}

.svg-background {
  fill: var(--background-color-translucent);
}

svg {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--border-color-solid);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

.text {
  pointer-events: none;
}

input[type="checkbox"] {
  all: unset;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/assets/svg/Checkbox_unchecked_opt.svg");
}

input[type="checkbox"]:checked {
  background-image: url("/assets/svg/Checkbox_checked_opt.svg");
}

select {
  background-color: var(--background-color-solid);
  color: var(--text-color-solid);
}

.value-input {
  width: 50%;
  font-weight: bold;
  background-color: var(--background-ability-translucent);
  border: 1px solid var(--border-color-solid);
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

.value-input::placeholder {
  color: lightgrey;
}

input[type="number"] {
  background-color: var(--background-color-solid);
  border: 2px solid var(--border-color-solid);
  border-radius: 4px;
  font-size: 1em;
  width: 5ch;
  height: 3ch;
  outline: none;
}

/* Remove number input arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"] {
  background-color: var(--background-color-solid);
  border: 2px solid var(--border-color-solid);
  border-radius: 4px;
  font-size: 1em;
  width: 20ch;
  height: 3ch;
  outline: none;
}

input[type="text"]::-webkit-outer-spin-button,
input[type="text"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.invalid {
  border: 4px solid var(--border-color-solid);
  background-color: var(--button-color-hover-translucent);
  box-shadow: 0 0 5px var(--border-color-solid);
}

.fade-out {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

#dice-box-container {
  pointer-events: none;
  /*background-color: var(--background-color);*/
}


.modal-top-left {
  top: 10% !important;
  left: 10% !important;
  transform: translate(0, 0) !important;
}

.modal-middle-right {
  top: 50% !important;
  right: 0 !important;
  left: auto !important;
  transform: translateY(-50%) !important;
}


.btn {
  background-color: var(--button-color-solid);
  color: var(--text-color-solid);
  width: fit-content;
  height: fit-content;
  padding: 0.4rem 0.8rem;
  margin: 0.25em;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  border-radius: 0.375rem;
  border: none;
  appearance: none;
  box-shadow: none;
}

.btn.tight {
  padding: 0.3rem 0.4rem;
  font-size: 0.875rem;
  line-height: 1;
  min-width: 1.5em;
  min-height: 1.5em;
}

.btn.tiny-icon {
  padding: 0.1rem 0.1rem;
  font-size: 0.8rem;
  line-height: 1;
  min-width: 1.5em;
  min-height: 1.5em;
  aspect-ratio: 1/1;
}

.btn:hover {
  transition: background-color 0.2s, transform 0.1s;
  background-color: var(--button-color-hover-solid);
}

.btn.accept {
  background-color: var(--button-color-solid);
  color: var(--text-color-solid);
}

.btn.accept:hover {
  background-color: var(--button-color-hover-solid);
}

.btn.accept:active {
  background-color: var(--button-color-translucent);
}

.btn.cancel {
  background-color: var(--button-secondary-color-solid);
  color: var(--text-color-solid);
}

.btn.cancel:hover {
  background-color: var(--button-secondary-color-hover-solid);
}

.btn.cancel:active {
  background-color: var(--button-secondary-color-translucent);
}

.btn:disabled,
.btn.disabled {
  background-color: var(--button-secondary-color-translucent);
  color: var(--text-color-translucent);
  cursor: not-allowed;
  pointer-events: none;
}

