
.playlist-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-translucent);
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.card-left {
    flex: 1;
    padding: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-self: stretch;
    align-items: center;
}

.card-left:hover {
    background-color: var(--background-color-hover-solid);
}

.card-right {
    height: 100%;
    padding: 1.5rem;
    background-color: var(--background-color-translucent);
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist-link {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-color-solid);
}