<div class="playlist-card">
    <a class="card-left" [routerLink]="['/playlist', playlist.id]">
        <div class="playlist-link">{{ playlist.name }}</div>
    </a>
    <div class="card-right ">
        <button class="btn tight" (click)="onRequestDelete()">Delete</button>
    </div>
</div>

<modal [isOpen]="deletionRequested"
       (close)="onCancelDelete()">
    <ng-template #content>
        <app-confirm
                [question]="deleteQuestion"
                (yes)="onDelete()"
                (no)="onCancelDelete()">
        </app-confirm>
    </ng-template>
</modal>