<div class="search-filter-area">
    <input class="search value-input" type="text" placeholder="Search songs..." [(ngModel)]="searchText"
           (input)="applyFilters()">

    <mat-form-field>
        <mat-label>Filter Tags</mat-label>
        <mat-select multiple
                    [(ngModel)]="filteredTags"
                    (selectionChange)="applyFilters()">
            <mat-option *ngFor="let tag of availableTags" [value]="tag">
                {{ tag.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="music-grid">
    <div *ngFor="let song of filteredSongs">
        <app-song
                [song]=song
                [playing]="song.id === playingSong"
                [availableTags]="allowTagging ? availableTags : undefined"
                [showCampaigns]="!scopeCampaign"
                (next)="playNextSong(song.id)"
                (restart)="activateSong(song.id)"
                (start)="activateSong(song.id)">
        </app-song>
    </div>
</div>
