
.music-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30rem);
    gap: 16px;
    justify-content: start;
    align-content: start;
}

.music-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;
    padding: 12px;
    border-radius: 8px;
    background: var(--background-color-solid);
    box-shadow: 0 2px 4px var(--shadow-color);
    color: var(--text-color-solid);
}

.search-filter-area{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
